<form action="/add" method="post">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>