<h1>Listas de postagens:</h1>

{{#each posts}}
    <small>{{createdAt}}</small>
    <h1>
        {{titulo}}
    </h1>
    <p>
        {{conteudo}}
    </p>
    <a href="/apagar{{id}}"><button>Apagar</button></a>
    <hr>

{{/each}}